header {
    background-color: #386641;
    margin: -8px;
}

body {
    background-color: #F2E8CF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#encabezado-container {
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96%;
    margin: 0 auto;
    padding: 20px 2% 20px 2%;
    color: white;

}

#izq-img {
    display: flex;
    align-items: center;
    flex-direction: row;
}

#izq-img img {
    width: 5vw;
    height: auto;
}

#admin-title {
    text-transform: uppercase;
    /* padding: 0 0 0 2%; */
}

#encabezado-dcha img,
.bt-tabla img {
    width: 3vw;
    height: auto;
}

#encabezado-dcha button {
    background-color: #386641;
    border-radius: 0.75rem;
    padding: .5em;
    border: none;
}

#encabezado-dcha button:hover {
    background-color: #6A994E;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#divComprobar {
    margin: 1em;
}

.espacio-b {
    padding: 90px 0;
}

table {
    border: 1px solid #ddd;
    border-collapse: collapse;
    width: 80%;
    background-color: #fff;
    box-shadow: 0 4px 8px #0000001a;
    margin: 20px;
    letter-spacing: 0.15em;
}

th,
td {
    padding: 10px;
    text-align: center;
    height: 1em;
}

th {
    background-color: #BC4749;
    color: #fff;
    border: 1px solid #ddd;
}

#rellenarNumeros tr:hover {
    background-color: #c9c8c8;
}

.bt {
    background-color: #386641;
    border: none;
    cursor: pointer;
    padding: 1em;
    border-radius: .2rem;
    transition: all .25s;
    font-weight: bold;
    width: 20%;
    letter-spacing: 0.19em;
    font-size: small;
    color: #f5f5f5;

}

.bt:hover {
    background-color: #6a994e;
}

#add {
    display: flex;
    justify-content: center;
    align-items: center;
}

#verify {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bt-tabla {
    border: none;
    cursor: pointer;
    transition: all .25s;
    padding: .5em;
    background-color: transparent;
    width: 100%;
    height: 100%;
}

.bt-td {
    padding: 0;
    border: 1px solid white;
}

.bt-tabla:hover {
    background-color: #6a994e;
}

/*Mostrar elementos*/

.ver {
    visibility: visible;
    opacity: 1;
}

/*Div alerta y formulario añadir*/

#confirmacion {
    visibility: hidden;  
    position: absolute;
    top: 10%;
    left: 30%;
    z-index: 1;
    background-color: white;
    border-radius: 15px;
    padding: 2em 3em;
    color: #bc4749;
    border: 2px solid #386641;
    transition: all .25s;
    text-transform: uppercase;
    font-weight: 700;
}

.conf-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 2em;
}

/*Formulario*/

#form-loteria {
    visibility: hidden;
    position: absolute;
    top: 20%;
    left: 45%;
    z-index: 1;
    background-color: #b1c77c;
    border: 3px solid #386641;
    border-radius: 15px;
    padding: 2em 3em;
    color: black;
    transition: all .25s;
}

#form-loteria div label {
    display: block;
    margin-top: 1em;
    margin-bottom: .2em;
}

#form-loteria input {
    padding: .5em;
    border-radius: .3rem;
    border-style: none;
}

#form-loteria .buttons {
    margin-top: 2em;
    display: block;
    text-align: center;
}

#form-loteria input {
    border: 2px solid rgb(255, 255, 255);
}

#form-loteria input:focus {
    outline: none;
    border-color: #386641;
}

.buttons #anadir,
.buttons #cancelar,
.conf-buttons #aceptar,
.conf-buttons #volver {
    border: none;
    cursor: pointer;
    padding: 1em;
    border-radius: .2rem;
    transition: all .25s;
    font-weight: bold;
    color: #f2ebcf;
}

.buttons #anadir,
.conf-buttons #aceptar {
    background-color: #386641;
    margin-right: 1.5em;
}

.buttons #anadir:hover,
.conf-buttons #aceptar:hover {
    background-color: #6a994e;
}

.buttons #cancelar,
.conf-buttons #volver {
    background-color: #bc4749;
}

.buttons #cancelar:hover,
.conf-buttons #volver:hover {
    background-color: #df6264;
}