
header {
    background-color: lightgreen;
    margin:-8px;
}

#encabezado-container {
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96%;
    margin: 0 auto;
    padding: 20px 2% 20px 2%;

}

#izq-img{
    display: flex;
    align-items: center;
    flex-direction: row;
}

#izq-img img{
    width: 70px;
    height: auto;
}

#admin-title {
    text-transform: uppercase;
    padding: 0 0 0 2%;
}

#encabezado-dcha img{
    width: 40%
}

.input-field{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: .5em;
    margin-top: 1em;
}

#label-icon img{
    width: 30px;
    height: 30px;
}

#search{
   padding: .5em
}

main h1{
    text-transform: uppercase;
}